.details-h1 {
  color: black;
  font-family: Poppins-SemiBold;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  /* text-align: left; */
  padding: 170px 0 30px 0;
}

.detail-img {
}
.detail-im {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 100px;
  border-radius: 5px;
}
.healthy {
  color: black;
  font-family: Poppins-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  padding: 24px 0 10px 0;
}
.Nutrient {
  color: black;
  font-family: Poppins-SemiBold;
  font-size: 24px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
}
.freshly-p {
  font-family: Poppins-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  color: black;
  padding: 10px 0;
}
.lemons {
  color: black;
  font-family: Poppins-SemiBold;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: justify;
}
.freshly-para{
  padding: 10px 0 100px 0;
  font-family: Poppins-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
    color: black;
    padding: 10px 0;
}

@media screen and (max-width: 767px) {
  .details-h1 {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: justify;
    padding: 110px 0 30px 0;
  }
  .healthy {
    font-size: 16px;
    line-height: 20px;
  }
  .Nutrient {
    font-size: 18px;
    line-height: 20px;
  }
  .freshly-p {
 
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: justified;
  }
  .lemons{
    
font-size: 16px;
font-weight: 600;
line-height: 20px;
text-align: justified;

  }
  .freshly-para{
    padding: 10px 0 50px 0;
    font-size: 16px;
        font-weight: 400;
        line-height: 20px;
  }
  
}
